@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

/*@layer base {
    :root{
        --color-text-base:#ffffff;
        --color-text-muted:#c7d2fe;
        --color-text-inverted:#4f46e5;
        --color-fill:#4338ca;
        --color-button-accent:#ffffff;
        --color-button-accent-hover:#eef2ff;
        --color-button-muted:#6366f1;
    }
}*/